function Main.main 2
call CalcLogic.new 0
pop local 0
push local 0
push constant 1
push constant 2
call CalcLogic.add 3
pop local 1
push local 1
call Output.printInt 1
pop temp 0
push constant 0
return
